body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    padding: 12px;
    background-color: #d32f2f;
    color: white;
}

td{
    background-color: #ece7e7;
    border: 1px solid #000;
}